* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f5f4f0;
}

/*---------CONTAINER SECTION---------*/

#page {
  margin: auto;
  width: 1120px;
  padding: 88px 80px;
}

#main-header, #description-img {
  margin-bottom: 40px;
}

#main-header p {
margin-bottom: 8px;
}

#description-img img {
  width: 100%;
  height: 660px;
  border-radius: 28px;
}
#description-img p {
  margin-top: 24px;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

#list-header {
  margin: 64px 0;
}

#list-header h2 {
margin-top: 2px;
margin-bottom: 8px;
}


#card-travel img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
  margin-bottom: 20px;
}

#card-travel article {
  margin-top: 4px;
}

.content-card {
  margin-bottom: 48px;
}

.last-card {
  margin-bottom: 40px;
}



/*----------TEXT SECTION----------*/

.text-text-primary {
  color: #1b1b1b;
}

.text-secondary {
  color: #333333;
  text-align: justify;
}

.text-headline {
  color: #e1624f;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  font-style: italic;
  text-align: center;
}

.accent-blue {
  color: #0c51a7;
  font-weight: bold;
}

.accent-pink {
  color: #e5245e;
  font-weight: bold;
}

.accent-orange {
  color: #e95e10;
  font-weight: bold;
}

.description {
  margin-top: 40px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

/*-----------SECTION TAGS------------*/

ol {
  list-style-position: inside;
}

ul li::marker {
  color: #333333;
}

ul li {
  list-style-type: disc;
  margin-left: 5px;
}

footer {
  text-align: center;
  margin-bottom: 48px;
}

footer img {
  vertical-align: middle;
}
